#canvas {
	position: absolute;
	overflow: hidden;
	left: 25%;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: transparent;
}

#canvas:focus {
	outline: none;
}

#add-antn-container {
	width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#add-antn {
	width: 100%;
	height: 48px;
	line-height: 48px;
	color: #2700ff;
	font-weight: bold;
	border-radius: 28px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
	cursor: pointer;
	letter-spacing: 0.8px;
	transition: all 0.2s ease;
	background: rgba(0, 0, 0, 0.01);
	/*display: none;*/
	font-size: 14px;
}

#add-antn:hover {
	background-color: rgba(0, 0, 0, 0.02);
}

.commands-container {
	position: absolute;
	min-width: 320px;
	background: white;
	box-shadow: -9px 9px 8px -7px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	padding: 28px;
	z-index: 100;
	color: rgba(0, 0, 0, 0.7);
	cursor: move;
	/*display: none;*/
}

.command {
	display: flex;
	font-size: 12px;
	margin: 8px 0;
}

.help {
	margin-right: 12px;
}

#help-expand {
	padding: 20px;
	position: absolute;
	background: white;
	box-shadow: -9px 9px 8px -7px rgba(0, 0, 0, 0.1);
	z-index: 100;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 18px;
	cursor: pointer;
}

#help.hidden,
#help-expand.hidden {
	display: none;
}

.connectivity-viz {
	margin-right: 12px;
}

#connectivity-viz-expand {
	left: 54px;
	padding: 20px;
	position: absolute;
	background: white;
	box-shadow: -9px 9px 8px -7px rgba(0, 0, 0, 0.1);
	z-index: 100;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 18px;
	cursor: pointer;
}

#auto-suggest-checkbox {
	left: 108px;
	padding: 15px 20px;
	position: absolute;
	background: white;
	box-shadow: -9px 9px 8px -7px rgba(0, 0, 0, 0.1);
	z-index: 100;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 18px;
	cursor: move;
}

#propagate-label {
	margin-right: 8px;
}

.command .shortcut {
	width: 120px;
	font-weight: bold;
}

.commands .text {
	font-size: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 8px;
	padding-bottom: 8px;
    font-style: italic;
    margin-top: 24px;
	color: rgba(0, 0, 0, 0.6);
}

.commands-header {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.8px;
    margin-top: 8px;
    /*font-weight: bold;*/
    text-transform: capitalize;
}

#antn-dialog {
	/*position: fixed;
	top: 50px;
	left: 50px;
	min-width: 320px;*/
	/*min-height: 240px;*/
	background: white;
	/*box-shadow: -1px 2px 24px 1px rgba(0, 0, 0, 0.2);*/
	box-shadow: -9px 9px 8px -7px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
	padding: 28px;
/*	z-index: 10;
  	resize: both;
  	overflow: auto;*/
}

#antn-dialog.fixed {
	position: fixed;
	top: 50px;
	left: 50px;
	min-width: 320px;
	z-index: 10;
  	resize: both;
  	overflow: auto;
}

.antn-dialog-axis-button {
	/*border: 2px solid #4a6ff5;*/
	border: 1px solid rgba(0, 0, 0, 0.1);
    /* padding: 4px 8px; */
    border-radius: 6px;
    width: 96px;
    text-align: center;
    height: 36px;
    cursor: pointer;
    color: #4a6ff5;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 0.6px;
}

.antn-dialog-base-selector {
	margin-bottom: 20px;
}

.antn-dialog-button {
	width: 64px;
	font-size: 14px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    width: 96px;
    margin-left: 12px;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.antn-dialog-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.antn-dialog-button#cancel {
	/*border: 2px solid rgba(0, 0, 0, 0.1);*/
	color: rgba(0, 0, 0, 0.6);
}

.antn-dialog-button#cancel:hover {
	background: rgba(0, 0, 0, 0.05);
}

.antn-dialog-button#submit {
	background: #0055ff;
	/*border: 2px solid #0055ff;*/
	/*background: #2700ff;;*/
	color: white;
}

.antn-dialog-button#submit:hover {
	background: #3c7cfb;
	/*border: 2px solid #3c7cfb;*/
}

#antn-dialog-buttons {
	display: flex;
	/*float: right;*/
	justify-content: flex-end;
}

#antn-dialog-content {
	min-height: 120px;
	/*min-height: 200px;*/
	margin-top: 12px;
}

.antn-dialog-base-selector {
	padding-left: 12px;
	color: rgba(0, 0, 0, 0.6);
}

.antn-dialog-base-selector.hidden {
	display: none;
}

.antn-dialog-base-selector-header {
	font-size: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 8px;
	padding-bottom: 8px;
/*	padding-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    -webkit-text-stroke: 0.5ps;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);*/
    font-style: italic;
}

.antn-dialog-base-selector-option {
	/*line-height: 28px;*/
	/*margin: 8px 0;*/
	font-size: 12px;
	text-transform: capitalize;
	transition: background 0.2s ease;
	padding: 4px 8px;
    margin: 0 -8px;
    /*cursor: pointer;*/
}

.antn-dialog-base-selector-option input {
	margin: 0;
}

input[type=range] {
	margin-top: 12px;
}

.antn-dialog-base-selector-option label {
	font-weight: 400;
	margin: 0;
}

.rotation .antn-dialog-base-selector-option:hover,
.translation .antn-dialog-base-selector-option:hover {
	background: rgba(0, 0, 0, 0.03);
}

.antn-dialog-option {
	letter-spacing: 0.5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
	line-height: 48px;
}

.splay-option {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#antn-dialog-title {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.8px;
    margin-top: 8px;
    /*font-weight: bold;*/
    text-transform: capitalize;
    cursor: move;
}

/*#antn-dialog-title*/

body {
	background: rgba(0, 0, 0, 0.05);
	font-family: 'Arial';
	margin: 0;
	/*overflow: hidden;*/
	/*display: */
}

/*label {
	font-weight: 400;
}*/

#no-antn-data-container {
	text-align: center;
    color: rgba(0, 0, 0, .6);
    padding: 48px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    border-radius: 9px;
    font-size: 14px;
}

.part-antn {
	color: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 12px 0;
	border-radius: 12px;
	/*padding: 12px 24px;*/
	padding: 12px 16px;
	/*box-shadow: -9px 9px 8px -7px rgba(0, 0, 0, 0.1);*/
	box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
	cursor: pointer;
	transition: all 0.2s ease;
}

.part-antn:hover {
	/*transform: translate(4px, 4px, 0);*/
	transform: translate(2px, -2px);
	box-shadow: -11px 11px 8px -7px rgba(0, 0, 0, 0.1);
	/*transform: translateY(4px);*/
}

.part-antn-data div {
	display: inline-block;
	font-size: 13px;
	line-height: 28px;
}

.part-antn-data-type {
	/*width: 32%;*/
	width: 40%;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: 0.5px;
}

.part-antn-edit-button {
	/*margin: 0 4px;*/
    font-size: 12px;
    /* padding: 4px 12px; */
    height: 36px;
    width: 36px;
    line-height: 36px;
    /*display: inline;*/
    /* width: 90px; */
    text-align: center;
    /* border-radius: 4px; */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /* color: #1a73e8; */
    font-weight: bold;
    border-radius: 50%;
    font-size: 14px;
    letter-spacing: 0.8px;
    /*float: right;*/
    position: relative;
    /*top: -8px;*/
    /* border: 1px solid rgba(0, 0, 0, 0.1)*/
}

.part-antn-edit-button.hidden {
	display: none;
}

.part-antn-edit-button:hover {
	/*background-color: #f0f6ff;*/
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.part-antn-edit-buttons {
	display: flex;
}

.part-antn-title {
	font-size: 16px;
	/*line-height: 48px;*/
	color: rgba(0, 0, 0, 0.5);
	margin: 8px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.part-go {
	/*margin: 0 4px;*/
	cursor: pointer;
	border-radius: 50%;
	padding: 6px;
	width: 18px;
	position: relative;
	top: 2px;
}

.part-go:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

#part-name {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	text-transform: capitalize;
}

#part-series {
	margin-left: 12px;
	margin-right: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 4px;
}

.part-tag {
	margin-right: 8px;
	/*border: 2px solid #9100ff;*/
	/*border: 2px solid #d8d8d8;*/
	border: 2px solid #e6e6e6;
	margin-bottom: 8px;
	padding: 0 8px;
	border-radius: 20px;
	/*cursor: pointer;*/
	transition: transform 0.2s ease;
	font-size: 11px;
	/*height: 26px;*/
	cursor: default;
	height: 24px;
	line-height: 20px;
}

.part-tag.annotated {
	border-color: #d9edf7;
	color: #1c00ff;
}

.part-tag.selected {
	/*background: #717171;*/
	/*background: rgba(0, 0, 0, 0.5);*/
	border-color: #7f7f7f;
	/*color: white;*/
	background: #f3f3f3;
}

.part-tag.enabled:hover {
	cursor: pointer;
	transform: translateX(2px);
}

.part-tag .needs-review {
	/*background: red;*/
	color: red;
	/*font-size: 20px;*/
	margin-left: 8px;
	/*margin: 0 8px;*/
	-webkit-text-stroke: 3px;
	/*border-radius: 50%;*/
	/*width: 4px;*/
	/*height: 4px;*/
}

.part-tag .needs-review.hidden {
	display: none;
}

#part-tags {
	display: flex;
	flex-wrap: wrap;
	/*color: rgba(0, 0, 0, 0.8);*/
	/*color: #9100ff;*/
	color: #717171;
	font-size: 14px;
	line-height: 24px;
}

#part-tags:hover {
	padding-right: 0;
}

#part-title {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 8px;
}

#part-title div {
	display: inline-block;
}

.range-slider-container {
	display: flex;
	justify-content: space-between;
	margin-top: 6px;
}

.range-slider-label {
	font-size: 14px;
}

#sidebar {
	width: 25vw;
	min-width: 320px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgb(255, 255, 255);
	/*border-left: 2px solid rgba(0, 0, 0, 0.1);*/
	/*box-shadow: -2px 2px 12px 2px rgba(0, 0, 0, 0.2)*/
	box-shadow: 1px 4px 24px 1px rgba(0, 0, 0, 0.1);
	/*box-shadow: -9px 9px 8px -7px rgba(0, 0, 0, 0.1);*/
	/*box-shadow: 2px 4px 8px 3px red;*/
	z-index: 10;
	overflow: auto;
}

#sidebar-bottom {
	padding: 36px 32px;
	max-height: 60vh;
	overflow-y: scroll;
}

#sidebar-top {
	/*max-height: 42vh;*/
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	padding: 36px 32px;
	overflow-y: scroll;
	max-height: 64vh;
}

#submit-attns {
	/*background-color: #3c7cfb;*/
	background-color: #2700ff;
	/*position: fixed;*/
	bottom: 72px;
	/*left: 96px;*/
	right: 32px;
	z-index: 10;
	width: 280px;
	color: white;
	height: 48px;
    line-height: 48px;
    /*color: #2700ff;*/
    font-weight: bold;
    border-radius: 28px;
    /* box-shadow: -11px 11px 8px -7px rgba(0, 0, 0, 0.1); */
    /*box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);*/
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    cursor: pointer;
    letter-spacing: 0.8px;
    transition: all 0.2s ease;
    /*background: rgba(0, 0, 0, 0.01);*/
    /* display: none; */
    font-size: 14px;
    text-align: center;
		margin: 0 auto;
}

#submit-attns:hover {
	box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}

#submit-txt {
	/*position: fixed;*/
	/*left: 96px;*/
	margin: 0 auto;
	/* right: 32px; */
	/* z-index: 10; */
	bottom: 128px;
	text-align: center;


}

#submit-txt textarea {
	width: 280px;
	margin: 0 auto;
}





section.range-slider {
    position: relative;
    /*width: 200px;*/
    /*height: 35px;*/
    text-align: center;
    width: 84%;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    /*top: 15px;*/
    /*width: 200px;*/
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

/*section.range-slider::after {
	content: "PHI";
	display: flex;
}

section.range-slider::before {
	content: "PHI";
	display: flex;
}*/

#loading-container {
	position: fixed;
	z-index: 1000;
	margin: auto;
	left: 0;
	right: 0;
	top: 200px;
	/*bottom: 0;*/
	width: 400px;
	height: 240px;
	background: white;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
	border-radius: 12px;
}

#loading-container-text {
	text-align: center;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
}

/* Absolute Center Spinner */
.loading {
	/*position: relative;*/
	/*left: 0;*/
	/*right: 0;*/
	margin: auto;
	top: 100px;
	width: min-content;
	margin-top: 100px;
	margin-bottom: 48px;
  /*position: fixed;*/
/*  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;*/
  /*visibility: hidden;*/
}

/*.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}*/

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}