html * {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: transparent;
  margin: 0;
  overflow: hidden;
}

.input-group-btn {
  width: auto;
}

.with-errors {
  color: red;
}

.highlight {
  border-color: green !important;
  border-style: solid;
  border-width: 5px;
}

.overlay {
  position: absolute;
  cursor: pointer;
  opacity: 0.9;
  z-index: 1;
}

.roundBorder {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.btn-space {
  margin-bottom: 15px;
}

#instructionsPanel {
  text-align: left;
  top: 20px;
  left: 20px;
}

#guidelinesPanel {
  text-align: left;
  top: 20px;
  left: 80px;
}

#namesPanel {
  top: 20px;
  right: 20px;
  max-height: 95%;
  overflow: auto;
}

#counterBox
{
  cursor: default;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font: 18pt bold;
  background-color: #f5f5f5;
  background-color: #f5f5f5;
}

#passBtn {
  bottom: 20px;
  left: 45%;
}

#colorBtn {
  top: 20px;
  left: 45%;
}

.topBtns {
  top: 20px;
  left: 200px;
}

#overrideBtn {
  top: 70px;
  left: 45%;
}

#alert {
  position: absolute;
  width: 50%;
  left: 25%;
  z-index: 10;
}

.alert {
  position: absolute;
  width: 50%;
  left: 25%;
  z-index: 10;
}

#canvas {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

label div {
  display: inline-block;
  width: 40px;
  color: white;
  text-align: center;
  margin-right: 10px;
}

.label-left {
  text-align: left;
}

.labelStatus {
  width: 160px;
}

.labelNotes {
  width: 160px;
}

.labelVerify {

}
.ui-slider .ui-slider-handle {
  cursor: default;
  height: 1.2em;
  position: absolute;
  width: 1.2em;
  z-index: 2;
}

.mouse-tooltip {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  z-index: 100;
}
