ul
  li Weird floating pieces that shouldn't be there: label as "REMOVE".
  li Chairs: annotate individual chairs as separate instances by using different colors.
  li Walls: label each continuous flat wall plane with one color (each flat plane = one wall)
  li Windows: label window panes as "window" and the frame around as "window frame"
  li Doors: Label door surfaces as "door" and door frame that is embedded in the wall as "door frame"
  li Showers: please label wall and floor of showers as "shower wall" and "shower floor"
  li Paintings / mirrors on walls: try to separate out from the wall.
  li Ceilings: label the ceilings as fully as possible but label lights and fans separately.
  li Walls, floors, ceilings: check that there are no extraneous parts associated with them.
  li Rugs: try to label separately from the floor
  li Bookshelves: Do not label individual shelves of a bookshelf. Label bookshelves that can be moved as one object in one color.
  li Pillows: try to label individually
  li Cabinets: label disconnected cabinet pieces separately (at least when it looks like they can be moved separately)
  li Stairs: label steps as stairs (all steps in a staircase in same color), but label the staircase railing separately
  li Plants in pots: If big enough, label pot and plant separately
  li Small objects / hard to identify objects: segment and try to label as accurately as possible (if unrecognizable - label as "object")
  li Hard to paint objects: okay to skip labeling
  li External walls / objects: label as normal but add "/other room" to the label (e.g. "wall /other room")