doctype html
html(lang="en")
  head
  title='Segment Annotator'
  meta(charset= "UTF-8")
  style.
    body { text-align: center; }
  body
    h1 Thank you!
    p
form
  input(type="button", value="Finish", onclick="parent.postMessage('done','*')")
  //input(type="button", id="buttonStart", value="Play Again?", onclick="self.location='part-annotator?userId=#{userId}'")
